<div class="container">
  <h1><%= @message.name %>'s Message</h1>
  <br class="spacer-sm"/>
  <a class="delete-message button" href="<%= url_for :action => :delete, :id => @message.id %>">
    Delete Message
  </a>
  <div class="message-content">
    <%= @message.message %>
  </div>
</div>