<div class="login-form">
  <%= form_for :user, :url => {:action => :authenticate} do |f| %>

    <label for="username">Username</label>
    <input id="username" type="text" name="username"/>

    <label for="password">Password</label>
    <input id="password" type="password" name="password"/>

    <% if flash[:error] != nil %>
      <p class="error"><%= flash[:error] %></p>
    <% end %>

    <input type="submit" value="Login"/>

  <% end %>
</div>
