/*
 *= require fonts
 *= require reset
 */
/** General styles **/
body {
  color: #b6b6b6;
  border-top: 3px solid #3a83e5;
  #border-bottom: 3px solid #3a83e5;
  font-family: 'Source Sans Pro', arial, sans-serif;
}
h1, h2, h3 {
  color: #3a83e5;
}
a {
  text-decoration: none;
}

.container {
  width: 1000px;
  margin: 0 auto;
}
.grey {
  color: #b6b6b6;
}
.blue {
  color: #3a83e5;
}

/** Header styles **/
.header {
  height: 50px;
}
.header > a {
  display: block;
  float: left;
  width: 100px;
  margin-top: 7px;
  padding-left: 48px;
  font-weight: bold;
  color: #b6b6b6;
  line-height: 17px;
  font-size: 18px;
  transition: color 0.2s;
}
.header > a:hover, .header > a:focus {
  color: #3a83e5;
}
.header > a:before {
  display: block;
  position: absolute;
  content: " ";
  box-sizing: border-box;
  left: 0;
  top: 4px;
  height: 40px;
  width: 40px;
  background: url(/assets/francis.png) no-repeat left center;
  background-size: 40px;
}
.header > ul.menu {
  float: right;
  list-style: none;
}
.header > ul.menu > li {
  display: inline-block;
  line-height: 50px;
}
.header > ul.menu > li > a {
  display: block;
  line-height: 50px;
  color: #b6b6b6;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0 10px;
  transition: color 0.2s;
}
.header > ul.menu > li > a:before {
  content: "";
  display: block;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 15px;
  height: 8px;
  background: url(/assets/menu-arrow.png) no-repeat bottom center;
  background-size: 16px;
  transition: background-position 0.2s;
}
.header > ul.menu > li > a:hover, .header > ul.menu > li > a:focus, .header > ul.menu > li > a.sel {
  color: #3a83e5;
}
.header > ul.menu > li > a:hover:before, .header > ul.menu > li > a:focus:before, .header > ul.menu > li > a.sel:before {
  background-position: top center;
}
