<% content_for :headers do %>
    <%= javascript_include_tag 'jquery' %>
    <%= javascript_include_tag 'chart.js' %>
<% end %>
<div class="container">
  <h1 class="huge center">Hello World!<span>Its very quid pro quo, you hire me and I'll make awesome stuff.</span></h1>

  <div class="spacer-md"></div>
  <p class="center padded">Were do i start? Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Duis vel nisi eu nisi placerat venenatis vitae at sapien. Mauris rutrum risus sapien,
    eu efficitur lacus bibendum nec. Cum sociis natoque penatibus et magnis dis parturient
    montes, nascetur ridiculus mus. Nulla dignissim sem ut lacus vulputate, in porttitor
    odio porta. Nulla faucibus eros non felis consequat.
  </p>
</div>
<div class="young-background">
  <h1>Programming since 2010</h1>
</div>
