<article class="container">
  <% if admin_logged_in %>
      <a class="edit-server button" href="<%= url_for :action => :edit, :id => @server.id %>">
        Edit Server
      </a>
      <a class="delete-server button" href="<%= url_for :action => :delete, :id => @server.id %>">
        Delete Server
      </a>
  <% end %>
  <br class="spacer-sm"/>
  <p><%= raw(@server.content) %></p>
</article>