<!DOCTYPE html>
<html>
<head>
  <title>FrancisMB - Login</title>
  <%= stylesheet_link_tag 'layouts/admin_layout' %>
  <%= yield :headers %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="admin-panel">
      <div class="content">
        <h1 class="title">Admin Area<span>Francis Malloch-Boe</span></h1>
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
